
  <mat-toolbar color="primary" style="border: 1px solid white;">
    <mat-toolbar-row>

      <span class="menu-spacer"></span>
      <div fxShow="true" fxHide.lt-md  fxLayout="column">
        <a mat-button>
          <i class="material-icons" style="font-size:39px;"  (click)="drawer.toggle()">
            vertical_split
            </i></a>
      
         <a> <button mat-raised-button color="primary" routerLink='/'>
          <mat-icon>account_box</mat-icon>
        </button></a>

      </div>
    </mat-toolbar-row>
  </mat-toolbar>


  <table >
    <div class="myclass">
    <tr>
      <td>Customer ID</td>
      <td>Customer Name</td>
      <td>Gender</td>
      <td>Father Name</td>
      <td>Mobile No</td>
      <td>Email</td>
      <td>Aadhar No</td>
      <td>Pan No</td>
      <td>Date of Birth</td>
      <td>Addrees</td>
      <td>State</td>
      <td>Pincode</td>
      <td>City</td>
      <td>Account type</td>
      <td>Annual Income</td>
      <td>Occupation Type</td>
    </tr>
  </div>
<div *ngFor="let cust of customers">
  <tr>
 <td>{{ cust.customerId}}</td> 
 <td>{{ cust.customerUsername}}</td> 
 <td>{{cust.Gender}}</td> 
 <td> {{cust.FatherName}}</td> 
 <td> {{cust.mobileNo}}</td> 
 <td> {{cust.email}}</td> 
 <td> {{cust.adhaarNo}}</td> 
 <td> {{cust.panNo}}</td>
 <td>{{cust.dateOfBirth}}</td> 
 <td> {{cust.address}}</td> 
 <td>{{cust.state}}</td>  
 <td> {{cust.city}}</td> 
 <td>{{cust.pincode}}</td> 
 <td>{{cust.accountType}}</td> 
 <td> {{cust.annualIncome}}</td>
 <td>{{cust.occupationType}}</td> 
 <td><button (click)="onSubmit(cust.email) ">Verify </button></td>
</tr>
</div>
</table>

