
<div class="">
  <div fxLayout="row"
       fxLayout.xs="column">
      <div class="sec1" fxFlex="100"  >
        <div>
        <!-- <img  style="height:620px;width: 50%;" fxFlex="50"
         src="/assets/bg2.png"> -->

        <div fxLayout="column" class="cent">
          <div class="centtetet">
          <div class="pad">
            <button mat-raised-button color="primary" routerLink="/login/userlogin" >User Login</button>
           </div>
           <div>
            <button mat-raised-button color="primary" routerLink="/login"> Admin Login</button>
           </div>
          </div>
         </div>
      </div>
    </div>
    </div>
  </div>

